:root {
	--primary-color: rgb(10, 25, 47);
	--secondary-color: rgb(100, 255, 218);
	--text-secondary: rgb(136, 146, 176);
	--text-primary: rgb(204, 214, 246);
	--secondary-background: rgb(23, 42, 69);
}

body {
	background-color: var(--primary-color);
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
		"Lucida Console", Monaco, monospace;
	overflow: hidden;
}

.nav-bar {
	background-color: rgb(10, 25, 47) !important;
	padding: 7px !important;
	position: fixed !important;
	top: 0 !important;
	transition: top 0.7s !important;
}

.nav-bar-hidden {
	background-color: rgb(10, 25, 47) !important;
	padding: 7px !important;
	position: fixed !important;
	top: -62px !important;
}

.primary-button {
	text-transform: none !important;
	border-color: var(--secondary-color) !important;
	color: var(--secondary-color) !important;
	font-size: medium !important;
}

.nav-link {
	text-decoration: none !important;
}

.nav-link-text {
	font-size: 13px;
	color: var(--text-primary) !important;
	transition: 0.6s;
}

.nav-link-text:hover {
	color: var(--secondary-color) !important;
}

.drawer {
	background-color: var(--secondary-background) !important;
	min-width: 75% !important;
	display: flex !important;
	flex-direction: column !important;
	height: 100vh !important;
}

.vertical-email {
	writing-mode: vertical-rl !important;
	color: var(--secondary-color) !important;
	margin-bottom: 25px !important;
	letter-spacing: 0.15em !important;
	font-size: 20px !important;
	font-family: sans-serif !important;
}

.bounce-up {
	transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1) 0s !important;
}

.bounce-up:hover {
	transform: translateY(-10px);
}

.icon {
	color: var(--secondary-color) !important;
	font-size: 27px !important;
	margin-bottom: 5px !important;
}

.main-subtitle {
	color: var(--secondary-color);
}

.title {
	color: var(--text-primary);
	font-weight: 800 !important;
	/* font-size: 65px !important; */
}

.sub-title {
	color: var(--text-secondary);
	font-weight: 800 !important;
	/* font-size: 65px !important; */
}

.section-heading {
	color: var(--text-primary);
	font-weight: 800 !important;
}

.text {
	color: var(--text-secondary) !important;
}

.text-blue {
	color: var(--secondary-color);
}

.list-item {
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
		"Lucida Console", Monaco, monospace;
	font-size: small !important;
}

.divider {
	border: 1px solid var(--text-secondary) !important;
	flex-grow: 1 !important;
	display: inline !important;
}

.profile-photo {
	object-fit: contain !important;
	width: 100% !important;
	max-width: 250px !important;
	height: auto !important;
	filter: grayscale(100%);
	transition: 0.5s;
}

.profile-photo-border {
	width: 100%;
	min-height: 100%;
	max-width: 250px;
	border: 2.5px solid var(--secondary-color);
	border-radius: 2px;
	position: absolute;
	transition: 0.5s;
	transform: translateX(10px) translateY(10px);
	z-index: -1;
}

.profile-photo:hover ~ .profile-photo-border {
	transform: translateX(15px) translateY(15px);
}

.profile-photo:hover {
	filter: grayscale(0%);
}

.tabs-vertical {
	border-left: 1px solid var(--primary-color) !important;
	border-color: var(--text-secondary) !important;
	min-height: 95px !important;
	max-height: 95px !important;
}

.tabs-horizontal {
	border-bottom: 1px solid var(--primary-color) !important;
	border-color: var(--text-secondary) !important;
	max-width: 180px;
	min-width: 180px;
}

.tabs-selected-vertical {
	background-color: var(--secondary-color) !important;
	left: 0 !important;
}

.tabs-selected-horizontal {
	background-color: var(--secondary-color) !important;
	bottom: 0 !important;
}

.tab-title {
	color: var(--text-secondary) !important;
}

.tab-title.Mui-selected {
	color: var(--secondary-color) !important;
}

.experience-heading {
	color: var(--text-primary);
	font-weight: 600 !important;
}

.experience-subheading {
	color: var(--text-secondary);
	margin-top: 0.4rem !important;
	font-weight: 400 !important;
}

.experience-list-item {
	color: var(--text-secondary);
	/* padding: 0 !important; */
}

.project-card {
	background-color: var(--secondary-background) !important;
	border-radius: 3px !important;
	display: flex !important;
	flex-direction: column !important;
	/* justify-content: space-between !important; */
	padding: 35px 30px !important;
}

.center-container {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
}

.footer-text {
	color: var(--text-secondary) !important;
	font-size: small !important;
}

.custom-link {
	position: relative;
	cursor: pointer;
	white-space: pre-wrap !important;
}

.custom-link:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--secondary-color);
	transform-origin: bottom left;
	transition: transform 0.3s ease-in;
}

.custom-link:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.fade-in-section {
	opacity: 0;
	transform: translateY(15vh);
	/* visibility: hidden; */
	transition: opacity 0.5s ease-out, transform 1.2s ease-out;
	will-change: opacity, visibility;
}
.fade-in-section.is-visible {
	opacity: 1;
	transform: none;
	/* visibility: visible; */
}

/* Hide Scrollbar */
::-webkit-scrollbar {
	display: none;
}
